body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .modal {
  transform: scale(1);
}

.close-modsl-btn{
  width: 1px;
  height: 1px;
  margin: -1px;
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.pgs-container-to-frame-open {
  padding: 8px;
}

.pgs-banner-to-frame-open {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px; /* Висота банера, змініть за потребою */
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white; /* Колір тексту */

}

.pgs-banner-to-frame-open h1 {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  width: 80%;
}

.pgs-banner-to-frame-open .btn {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 4px 4px 5px 0px rgba(98, 113, 255, 0.5);
}

@media screen and (max-width: 768px) {
  .pgs-banner-to-frame-open {
    height: 100vh; /* Зменшена висота для мобільних */
    background-image: url(../img/mob-banner375-2.png); /* Фонове зображення для мобільної версії */
    background-size: contain;
    background-repeat: no-repeat;
  }

  .pgs-banner-to-frame-open h1 {
    font-size: 24px;
  }

  /* .pgs-banner-to-frame-open .btn {
    font-size: 14px;
    padding: 10px 20px;
  } */
}

@media screen and (min-width: 769px) {
  .pgs-banner-to-frame-open {
    background-image: url(../img/web-pgs-banner-new.webp); /* Фонове зображення для десктопної версії */
  }

  .pgs-banner-to-frame-open h1 {
    top: 10%;
    font-size: 30px;
  }
}

.to-top-btn {
  display: block;
  position: relative;
  margin: 50px auto;
  background: linear-gradient(90deg, #ffc940, #ffb006);

  width: 80%;
  cursor: pointer;
  border: none;
  border-radius: 28px;
  padding: 22px;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 4px 6px 8px 0px rgba(13, 22, 99, 0.5);
}

/* анімація */
.open-frame-btn {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  cursor: pointer;
  border: none;
  border-radius: 28px;
  padding: 22px;
  padding-left: 70px;
  padding-right: 70px;
  color: var(--secondary-bg);
  background-color: #0c00b1;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 4px 6px 8px 0px rgba(13, 22, 99, 0.5);
  overflow: hidden;
}

.open-frame-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 70%
  );
}

@keyframes auto-shine {
  0%,
  85% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.open-frame-btn::before {
  animation: auto-shine 0.8s ease-in-out infinite;
  animation-duration: 3s; /* Інтервал між бликами – 5 секунд */
}

/* fdg */

.modal {
  
  /* padding: 16px; */
  border-radius: 4px;
  /* max-width: 960px; */
  width: 100vw;
  height: 100vw;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

.button {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .modal {
    height: 828px;
  }
}