.night-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

/* Анімація */
@keyframes modalFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.85);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.night-modal-content {
  background: #fff;
  padding: 24px 30px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  animation: modalFadeIn 0.4s ease-out;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
  position: relative;
}

.night-modal-close {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 26px;
  cursor: pointer;
}
