/* Загальні стилі, які залишаються незмінними на всіх пристроях */
:root {
  --accent-color: rgba(63, 63, 226, 0.8);
  --txt-color: #3f3d3d;
  --secondary-bg: #f5f4fa;
  --primary-bg: #e5e5e5;
  --ftr-bg: #c4c4c4;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

h1,
h2 {
  text-align: center;
}

a {
  display: block;
}

p {
  color: var(--txt-color);
}

img {
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding: 40px 16px;
  max-width: 960px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.hidden-link {
  text-decoration: none;
  color: inherit;
  display: inline;
}

.operator {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--accent-color);
  color: white;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: 14px;

  animation: pulse 2s infinite;
}

.operator img {
  display: block;
  width: 100%;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 12px rgba(0, 123, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}

.animated-element {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

.animated-element.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.6s ease-out;
}

.fade-in-left.visible {
  opacity: 1;
  transform: translateX(0);
}

.fade-in-right {
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.6s ease-out;
}

.fade-in-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.partner-slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  background: #fff;
  padding: 10px 0;
}

.partner-list {
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
  animation: scroll-left 30s linear infinite;
}

/*  */

/* Header */
.hdr {
  background: linear-gradient(90deg, #007bff, #0056b3);
  min-height: 60px;
  position: relative;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 86, 179, 0.3); /* rgba(R, G, B, alpha) - alpha контролює прозорість */
}

.hdr-nav {
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.logo {
  display: block;
  border-radius: 50%;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  z-index: 23;
  align-items: flex-start;
}

.contact-logo {
  display: block;
  width: 38px;
  margin: 12px;
}

/* 
burger
*/

.menu-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 20px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.menu {
  position: fixed;
  top: 0;
  right: -300px; /* Initially hidden to the right */
  width: 56px;
  height: 570px;
  margin-top: 68px;
  padding: 2px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(to left, #7bb9f0 0%, #66ebf1 100%);
  border-radius: 8px;
  transition: 0.4s;
}

.menu.open {
  right: 0; /* Slide in from the right */
  z-index: 5;
}

.menu-toggle.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-toggle.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-link {
  z-index: 10;
  display: block;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
}

/* Main page */
.main-page {
  background-color: #fff;
}

.banner .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto;
}

.banner {
  background-color: var(--secondary-bg);
  position: relative; /* ДЛЯ ОВЕРЛЕЯ НА ПРОДАЖ */
}

.banner-btn {
  all: initial;
  margin: 8px;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  background-color: #f5b049; /* season */
  color: var(--txt-color);
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: right;
  z-index: 2;
  background-size: contain;
  background-position: 0 0;
  position: relative;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 3px 0px rgba(98, 113, 255, 0.5);
  -webkit-box-shadow: 2px 2px 3px 0px rgba(98, 113, 255, 0.5);
  -moz-box-shadow: 2px 2px 3px 0px rgba(98, 113, 255, 0.5);
}

.banner-btn:hover .order {
  /* background-color: #bb1818; */
  transform: scale(1.01);
  transition-duration: 250ms;
  box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.74);
}

.banner-btn:hover {
  transition-duration: 250ms;
  box-shadow: 4px 4px 5px 0px rgba(98, 113, 255, 0.5);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(98, 113, 255, 0.5);
  -moz-box-shadow: 4px 4px 5px 0px rgba(98, 113, 255, 0.5);
}

.banner-btn-txt {
  display: block;
  /* max-width: 50%; */
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.6);
  border-radius: 8px;
}

.banner-btn-txt-descr {
  font-size: 12px;
  /* max-width: 50%; */
  margin-top: 16px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.6);
  border-radius: 8px;
}

.discount-txt {
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  color: var(--accent-color);
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.6);
  border-radius: 8px;
}

.discount-txt-international {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  color: var(--accent-color);
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  backdrop-filter: var(--secondary-bg);
}

/* seasons 
url(../img/rb_542.webp) #7c9afd зима
url(../img/spring-bg-removebg-preview.webp); весна
url(../img/summer-bg-removebg-preview.webp); літо
url(../img/autumn-removebg-preview.webp); #f5b049 осінь

.travel .green-card теж міняємо
*/

.avtocyvilka {
  width: 100%;
  padding: 60px;
  background-image: url(../img/car-with-man-removebg-preview.webp),
    url(../img/autumn-removebg-preview.webp);
  background-repeat: no-repeat, repeat;
  background-position: 60px center, top center;
  height: 220px;
  border: 1px solid #b3b2b2;
  display: flex;
  align-items: end;
  justify-content: space-around;
  flex-direction: column;
}

.international-ins {
  width: calc(50% - 16px);
  height: 220px;
  margin: 8px;
  box-sizing: border-box;
  border: 1px solid #b3b2b2;
  background-position: 10px center;
}

.banner-btn-txt-container {
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: space-around;
  flex-direction: column;
  margin-right: 8px;
}

.kasko-bg-banner {
  background-image: url(../img/img-for-kasko-remove-bg.webp),
    url(../img/autumn-removebg-preview.webp);
  background-repeat: no-repeat, repeat;
  background-position: 10px center, top center;
}

.travel {
  background-image: url(../img/tourist.webp),
    url(../img/autumn-removebg-preview.webp);
  background-repeat: no-repeat, repeat;
  background-position: 10px center, top center;
}

.green-card {
  background-image: url(../img/test-img-for-gc.webp),
    url(../img/autumn-removebg-preview.webp);
  background-repeat: no-repeat, repeat;
  background-position: 10px center, top center;
}

.order {
  font-size: 16px;
  padding: 6px;
  background-color: var(--accent-color);
  color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.order img {
  margin-left: 4px;
}

/* FORM */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.form-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(198, 198, 247);
  padding: 20px;
  border-radius: 10px;
  z-index: 20;
  width: 300px;
}
.form-container input,
.form-container textarea {
  background-color: rgb(198, 198, 247);
  color: #383737;
  padding: 8px;
  width: 100%;
  transition: border-color 0.3s ease;
}

input {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 16px;
}

.form-container textarea {
  height: 150px;
  margin-bottom: 20px;
  border: 0.5px solid black;
  border-radius: 16px;
}

.form-container input:focus {
  outline: none;
  border-bottom: 1px solid #0918ec;
  box-shadow: 0 8px 8px -8px rgba(26, 40, 238, 0.3);
}

.form-container textarea:focus {
  outline: none;
  border: 1px solid #0918ec; /* Підсвічуємо весь бордер */
  box-shadow: 0 0 8px rgba(26, 40, 238, 0.3); /* Тінь навколо textarea */
}

.form-container label {
  display: block;
  margin-bottom: 6px;
}

.close-form {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.submit-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 16px;
  width: 100%;
  border: none;
  border-radius: 32px;
  background-color: var(--accent-color);
  color: var(--secondary-bg);
}

.submit-btn:disabled {
  background: gray;
  cursor: not-allowed;
}

/* 
END FORM
*/

.about {
  background-color: #fff;
}

.about .container {
  padding: 0;
}

.about-list,
.additional-ins-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-list-title {
  margin-top: 12px;
  text-align: center;
}

.about-list-item {
  width: calc(50% - 16px);
  margin-right: 8px;
  margin-bottom: 8px;
  box-shadow: 2px 2px 3px 0px rgba(98, 113, 255, 0.5);
}

.about-list-item,
.additional-ins-list-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid var(--primary-bg);
  box-shadow: 2px 2px 3px 0px rgba(98, 113, 255, 0.5);
  padding: 28px;
}

.top-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 120px; /* змінюй при потребі */
  background: linear-gradient(
    to bottom,
    rgba(173, 216, 230, 0.5),
    rgba(255, 255, 255, 0)
  );
  z-index: 0;
  pointer-events: none;
  border-radius: 8px 8px 0 0; /* щоби відповідало формі блоку */
}

.top-gradient > * {
  position: relative;
  z-index: 1;
}

.about-icon {
  display: block;
  margin: 0 auto;
}

.about-list-heading {
  text-align: center;
}

.logos-wrapper {
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid var(--accent-color);
  border-radius: 36px;
  box-shadow: 2px 2px 3px 0px rgba(98, 113, 255, 0.5);
}

.mtsbu-diia-logos-txt {
  text-align: center;
  font-weight: bold;
}

.mtsbu-diia-logos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gov-logo {
  margin: 12px;
}

.oplata-chatynamy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.oplata-chastynamy-img {
  width: 60%;
}
/* 
============================================================
 */

.how-to-use-list-item {
  display: flex;
  align-items: center;
}

/* .how-to-use-list-item {
  padding: 8px;
  background-color: var(--accent-color);
  border: 1px solid var(--primary-bg);
  border-radius: 8px;
  margin: 8px;
} */

.how-to-use-list-item {
  padding: 8px;
  background: linear-gradient(90deg, #007bff, #0056b3);
  color: #ffffff;
  border: 1px solid var(--primary-bg);
  border-radius: 8px;
  margin: 8px;
}

.how-to-use-num {
  font-size: 22px;
  font-weight: 600;
  padding: 12px 18px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 100%;
  background-color: #fff;
}

.how-to-use-txt {
  font-size: 18px;
  color: #fff;
}

.ad-ins-heading {
  text-align: center;
}

.additional-ins-list {
  display: flex;
  flex-wrap: wrap;
}

.additional-ins-list-item {
  min-width: 340px;
  max-width: 400px;
  border: 1px solid var(--primary-bg);
  box-shadow: 4px 4px 5px 0px rgba(98, 113, 255, 0.5);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(98, 113, 255, 0.5);
  -moz-box-shadow: 4px 4px 5px 0px rgba(98, 113, 255, 0.5);
  border-radius: 8px;
  margin: 8px;
  padding: 28px 8px 0px 8px;
  background-color: rgba(255, 255, 255, 0.8);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.additional-contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.contact-logo-ad-ins {
  width: 32px;
  margin: 0;
}

.contact-link {
  padding: 12px;
}

.article {
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  background-image: url(../img/bg-e-polis.png);
}

.subbaner {
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.partners {
  background-color: var(--primary-bg);
  text-align: center;
}

.partner-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.7);
}

.partner-list-item {
  margin: 6px;
  /* padding: 8px; */
  /* background-color: #fff; */
  border-radius: 8px;
}

.gc-txt {
  background-color: rgba(255, 255, 255, 0.7);
}

.descr-heading {
  margin-top: 30px;
  text-align: center;
  color: var(--txt-color);
  font-size: 32px;
  font-weight: bold;
}

.cta-btn {
  background: linear-gradient(90deg, #007bff, #0056b3);
  color: var(--primary-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 32px;
  width: 80%;
  box-shadow: 4px 4px 5px 0px rgba(98, 113, 255, 0.5);
  border-radius: 36px;
  margin: 32px auto 46px;
}

.btn-txt {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: block;
  margin-left: 16px;
}

.ins-block {
  margin-right: auto;
  margin-left: auto;
}

.ins-block-list {
  display: flex;
  flex-wrap: wrap;
}

.ins-block-list-item {
  width: 440px;
  margin: 8px auto;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid var(--primary-bg);
  box-shadow: 4px 4px 5px 0px rgba(138, 126, 126, 0.75);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(138, 126, 126, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(138, 126, 126, 0.75);
  border-radius: 8px;
}

.accordion-item {
  margin: 8px;
  box-shadow: 2px 5px 8px 0px rgba(48, 46, 46, 0.75);
  -webkit-box-shadow: 2px 5px 8px 0px rgba(48, 46, 46, 0.75);
  -moz-box-shadow: 2px 5px 8px 0px rgba(48, 46, 46, 0.75);
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
}

.accordion-header {
  cursor: pointer;
  background: linear-gradient(90deg, #007bff, #0056b3);
  color: #f5f4fa;
  padding: 8px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: normal;
}

.accordion-content {
  display: none;
  padding: 8px;
}

/* Footer */
.ftr {
  min-height: 250px;
  background: var(--ftr-bg);

  padding: 20px;
}

.ftr-nav {
  flex-direction: column;
  padding: 8px;
}

.about-title {
  text-align: center;
}

.questions {
  text-align: center;
}

.copy {
  text-align: center;
  margin-bottom: 20px;
}

/* PAGES */

.fr {
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
  box-shadow: 1px 4px 3px 1px rgba(115, 93, 214, 0.75);
  width: 100vw;
  height: 100%;
}

/* Медіазапит для пристроїв з меншими екранами, наприклад, мобільних телефонів */
@media (max-width: 767px) {
  .container {
    padding: 20px 8px;
    max-width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .hdr {
    height: 40px;
  }

  .menu {
    align-items: center;
  }

  .hdr-nav {
    max-width: 100%;
  }

  .banner-btn {
    font-size: 24px;
  }

  .banner-btn-txt {
    font-size: 18px;
  }

  .green-card .banner-btn-txt {
    font-size: 20px;
  }

  .green-card {
    background-position: top;
    background-size: contain;
  }

  .travel {
    background-position: left;
  }

  .banner-btn-txt-descr {
    margin-top: 12px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.6);
    border-radius: 8px;
  }
  .travel .banner-btn-txt-descr {
    width: 70%;
  }

  .avtocyvilka {
    width: 100%;
    padding: 8px;
    height: 200px;
    background-position: 2px center;
  }

  /* .avtocyvilka .banner-btn-txt-descr {
    max-width: 65%;
  } */

  .avtocyvilka .banner-btn-txt {
    font-size: 24px;
  }

  .international-ins {
    font-size: 20px;
    width: calc(50% - 8px);
    height: 200px;
    margin: 4px;
    background-position: 1px center;
    padding: 8px;
  }

  .discount-txt {
    font-size: 18px;
  }

  .discount-txt-international {
    font-size: 16px;
  }

  .banner-btn-txt-container {
    margin: 0;
  }

  .order {
    font-size: 12px;
  }

  .about-title {
    font-size: 24px;
  }

  .accordion {
    margin: 0 auto;
    width: 100%;
  }

  .accordion-item {
    margin: 8px;
  }

  .about-list-item {
    width: 100%;
    padding: 16px;
    margin-bottom: 8px;
  }

  .ins-block-list-item {
    width: 300px;
  }

  .cta-btn {
    padding: 24px 24px;
  }

  .btn-txt {
    font-size: 24px;
  }

  .ftr-contact-logo {
    display: block;
    width: 32px;
    margin: 8px;
  }

  .partner-list-item {
    margin-bottom: 12px;
    padding: 8px;
  }

  .oplata-chatynamy {
    flex-direction: column;
  }

  .oplata-chastynamy-img {
    width: 100%;
  }
}

/*  */

/* .hacker-modal {
  margin-right: auto;
  margin-left: auto;
}

.image-container {
  position: relative;
  display: inline-block; 
}

.hacker-img {
  display: block; 
  width: 600px;
}

.hacker-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  text-align: center; 
  font-size: 50px;
  font-weight: bolder;
} */
